{% extends '::layout.html.twig' %}

{% set page = '&Eacute;diter La Fiche Client' %}

{% block pagetitle %}{{ page|raw }}{% endblock %}

{% block container %}
    <h1 id="page_title">{{ page|raw }}</h1>
    <div id="container_form">
        {{ form_start(form) }}
            <span class="block_title">Client</span>
            <div id="customer" class="form_block">
                <table id="address">
                    <tr id="address_elts">
                        <td>
                            <label class="no_margin_left">Adresse : </label>
                        </td>
                        <td>
                            {{ form_widget(form.customer.address, {
                                'attr': {
                                    'class': 'address_textarea'
                                }
                            }) }}
                        </td>
                        <td>
                            <label>Code postal : </label>
                        </td>
                        <td>
                            {{ form_widget(form.customer.zipCode, {
                                'attr': {
                                    'class': 'input'
                                }
                            }) }}
                        </td>
                        <td>
                            <label>Ville : </label>
                        </td>
                        <td>
                            {{ form_widget(form.customer.city, {
                                'attr': {
                                    'class': 'input'
                                }
                            }) }}
                        </td>
                    </tr>
                    <tr id="status">
                        <td>
                            <label>Statut : </label>
                        </td>
                        <td>
                            {{ form_widget(form.customer.status, {
                                'attr': {
                                    'class': 'input'
                                }
                            }) }}
                        </td>
                    </tr>
                </table>
                <span class="inner_block_title">Propri&eacute;taires</span>
                <div id="owners" class="inner_form_block">
                    <table>
                        <tr>
                            <td class="label">
                                <button id="add_owner" class="add_button" data-prototype="{{- form_widget(form.customer.owners.vars.prototype)|e('html') -}}">
                                    Ajouter un propri&eacute;taire
                                </button>
                            </td>
                            <td class="label">
                                <label>Propriétaire principal&nbsp;:</label>
                            </td>
                            <td class="value_long" colspan="2">
                                {{ form_widget(form.customer.mainOwner) }}
                            </td>
                        </tr>
                    </table>
                    <ul id="owners_list" class="list">
                        {% for owner in form.customer.owners %}
                            {% if not loop.first %}<hr />{% endif %}
                            <li id="owner_{{ loop.index0 }}">
                                {% if owner.id.vars.value != form.customer.mainOwner.vars.value %}
                                    <span class="deletable">-</span>
                                {% else %}
                                    <span style="margin-top:15px;display:block;"></span>
                                {% endif %}
                                {{ form_widget(owner) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <span class="inner_block_title">Animaux</span>
                <div id="animals" class="inner_form_block">
                    <table>
                        <tr>
                            <td class="label">
                                <button id="add_cat" class="add_button" data-prototype="{{- form_widget(form.customer.cats.vars.prototype)|e('html') -}}">
                                    Ajouter un chat
                                </button>
                                <button id="add_dog" class="add_button" data-prototype="{{- form_widget(form.customer.dogs.vars.prototype)|e('html') -}}">
                                    Ajouter un chien
                                </button>
                            </td>
                            <td class="label">
                                <label>Animal principal&nbsp;:</label>
                            </td>
                            <td class="value_long" colspan="2">
                                {{ form_widget(form.customer.mainAnimal) }}
                            </td>
                        </tr>
                    </table>
                    <ul id="animals_list" class="list">
                        {% for animal in form.customer.cats|merge(form.customer.dogs) %}
                            {% if not loop.first %}<hr />{% endif %}
                            <li id="animal_{{ loop.index0 }}">
                                {% if animal.id.vars.value != form.customer.mainAnimal.vars.value %}
                                    <span class="deletable">-</span>
                                {% else %}
                                    <span style="margin-top:15px;display:block;"></span>
                                {% endif %}
                                {{ form_widget(animal) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <span class="block_title">Consultations</span>
            <div id="consultations" class="form_block">
                <button id="add_consultation" class="add_button" data-prototype="{{ form_widget(form.consultations.vars.prototype)|e('html_attr') }}">
                    Ajouter une consultation
                </button>
                <ul id="consultations_list" class="list">
                    {% for consultation in form.consultations %}
                        {% if not loop.first %}<hr />{% endif %}
                        <li id="consultation_{{ loop.index0 }}">
                            <span class="deletable">-</span>
                            {{ form_widget(consultation) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <span class="block_title">Commentaires</span>
            <div id="comments" class="textarea_block">
                {{ form_widget(form.comments, {
                    'attr': {
                        'class': 'froala'
                    }
                }) }}
            </div>
            <span id="submit_btn">
                <button id="submit_btn" class="submit_button">Valider</button>
            </span>
            <div style="display: none">{{ form_rest(form) }}</div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block pagejavascripts %}
    <script>
        var ownersData = {
            id: '#add_owner',
            append_id: '#owners_list',
            prototype: 'owner',
            count: '{{ form.customer.owners|length }}'
        };
        var catsData = {
            id: '#add_cat',
            append_id: '#animals_list',
            prototype: 'cat',
            count: '{{ form.customer.cats|length }}'
        };
        var dogsData = {
            id: '#add_dog',
            append_id: '#animals_list',
            prototype: 'dog',
            count: '{{ form.customer.dogs|length }}'
        };
        var consultationsData = {
            id: '#add_consultation',
            append_id: '#consultations_list',
            prototype: 'consultation',
            count: '{{ form.consultations|length }}'
        };
        var chosenOptions = {
            no_results_text: "Pas de r&eacute:sultats !",
            disable_search_threshold: 10
        };
        var froalaOptions = {
            toolbarButtons: [
                'fullscreen', '|',
                'undo', 'redo' , '|',
                'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|',
                'fontFamily', 'fontSize', 'color', '|',
                'paragraphStyle', 'paragraphFormat', 'align', '|',
                'outdent', 'indent', '|',
                'formatOL', 'formatUL', 'insertTable', 'quote', 'insertHorizontalLine', '|',
                'insertLink', 'uploadFile', 'emoticons', 'specialCharacters'
            ],
            theme: 'grey',
            placeholderText: 'Commentaires...'
        };
        var ids = ['customer_card_customer_address', 'customer_card_customer_zipCode', 'customer_card_customer_city'];
        var mapping = [
            {id: 'customer_card_customer_address', address_components: ['street_number', 'route'], separator: ' '},
            {id: 'customer_card_customer_zipCode', address_components: ['postal_code'], separator: ''},
            {id: 'customer_card_customer_city', address_components: ['locality', 'administrative_area_level_2'], separator: ' - '}
        ];
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places&project=symbiose-animale-fiche-client" async defer></script>
    <script src="{{ asset('public/js/customer_card/form_handler.js') }}"></script>
    <script src="{{ asset('public/js/google_api.js') }}"></script>
{% endblock %}