{% extends '::layout.html.twig' %}

{% macro render_owner(owner) %}
    {% import ':macro:macros.html.twig' as macros %}
    <div class="first_block">
        <div class="owner_name">
            {{ macros.display_human_gender(owner) }}
            {{ owner.firstName|capitalize }}
            {{ owner.lastName|upper }}
        </div>
        <div class="owner_age">
            {{ 'template.human_title.age'|trans({'%age%': owner.age}) }}
        </div>
        <div class="owner_email">
            {{ owner.email }}
        </div>
        <div class="owner_phone">
            {{ owner.phone }}
        </div>
        <div class="owner_job">
            {{ owner.job|capitalize }}
        </div>
        <div class="owner_life_style_list">
            {{ macros.display_dashed_separated_elements_list(owner.lifeStyle) }}
        </div>
    </div>
    <div class="owner_comments raw_textarea">
        {{ owner.comments|raw }}
    </div>
{% endmacro %}

{% macro render_animal(animal) %}
    {% import ':macro:macros.html.twig' as macros %}
    <div class="first_block">
        <div class="animal_info">
            {{ animal.name|capitalize }},
            {{ macros.display_animal_specie(animal) }}
            {{ animal.breed|trans }}
            {{ macros.display_animal_gender(animal) }}
        </div>
        <div class="animal_age">
            {{ macros.display_animal_age(animal) }}
        </div>
        <div class="animal metrics">
            {{ 'template.animal.weight'|trans({'%weight%': animal.weight}) }}&nbsp;-
            {{ 'template.animal.size'|trans({'%size%': animal.size}) }}
        </div>
        <div class="animal_adoption_origin">
            {{ macros.display_animal_adoption_origin(animal) }}
        </div>
        <div class="animal_others">
            {{ macros.display_animal_castrated(animal) }},
            {{ macros.display_animal_living_outside(animal) }},
            {{ macros.display_outside_time(animal) }}
            {% if animal.getSpecie == 'dog' %}
                , {{ macros.display_daily_walk_time(animal) }}
            {% endif %}
        </div>
        <div class="animal_temper_list">
            {{ macros.display_dashed_separated_elements_list(animal.temper) }}
        </div>
    </div>
    <div class="wrapper_2col">
        <div class="issues raw_textarea third_size">
            {{ animal.issues|raw }}
        </div>
        <div class="health_issues raw_textarea third_size">
            {{ animal.healthIssues|raw }}
        </div>
        <div class="comments raw_textarea third_size">
            {{ animal.comments|raw }}
        </div>
    </div>
{% endmacro %}

{% macro render_consultation(consultation) %}
    {% import ':macro:macros.html.twig' as macros %}
    <div class="first_block">
        <div class="consultation_date">
            {{ consultation.date|date('d/m/Y') }}
        </div>
        <div class="consultation_animals">
            {{ macros.display_dashed_separated_elements_list(consultation.animals) }}
        </div>
        <div class="consultation_location">
            {{ macros.display_consultation_type_and_duration(consultation) }}
        </div>
        <div class="consultation_location">
            {{ consultation.location }}
        </div>
        <div class="consultation_price">
            {{ consultation.price }}€
        </div>
        <div class="consultation_owners">
            {{ macros.display_dashed_separated_elements_list(consultation.owners) }}
        </div>
    </div>
    <div class="consultations_purposes raw_textarea">
        {{ consultation.purposes|raw }}
    </div>
{% endmacro %}

{% set page = 'Fiche Client N°'~customer_card.id %}

{% block pagetitle %}{{ page|raw }}{% endblock %}

{% block container %}
    <dialog id="consultation_form_wrapper">
        <div id="container_form">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="wrapper_2col">
                    <div id="cancel_btn">
                        <button class="submit_button">Annuler</button>
                    </div>
                    <div id="submit_btn">
                        <button class="submit_button">Valider</button>
                    </div>
                </div>
                <div style="display: none">{{ form_rest(form) }}</div>
            {{ form_end(form) }}
        </div>
    </dialog>
    <h1 id="page_title">{{ page|raw }}</h1>
    <div id="container">
        <div id="customer">
            {% set customer = customer_card.customer %}
            <div id="customer_main" class="wrapper_2col customer_part">
                <div id="customer_main_elements" class="half_size">
                    <div id="customer_address">
                        <div id="address_street">
                            {{ customer.address }}
                        </div>
                        <div id="address_zipcode_city">
                            {{ customer.zipCode }}&nbsp;{{ customer.city }}
                        </div>
                    </div>
                    <div id="customer_comments" class="raw_textarea">
                        <div>{{ customer_card.comments|raw }}</div>
                    </div>
                </div>
                <div id="customer_address_map" class="half_size">
                    <a href="https://maps.google.com/?q={{ customer.address }},{{ customer.zipCode }},{{ customer.city }}"
                       target="_blank">
                        <img id="static_map"
                             src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=640x200&markers=color:{{ random(markers_colors) }}%7C{{ customer.address }},{{ customer.zipCode }},{{ customer.city }}&key={{ google_api_key }}"/>
                    </a>
                </div>
            </div>
            <div id="owners" class="customer_part">
                <div class="list">
                    <div class="wrapper_2col">
                        <div id="main_owner" class="list_elt third_size main_color">
                            {{ _self.render_owner(customer.mainOwner) }}
                        </div>
                        {% for owner in customer.ownersWithoutMain %}
                        {% if not loop.first and loop.index is divisible by (3) %}
                    </div>
                    <div class="wrapper_2col">
                        {% endif %}
                        <div class="third_size list_elt {{ random(box_colors) }}">
                            {{ _self.render_owner(owner) }}
                        </div>
                        {% if loop.last %}</div>{% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="animals" class="customer_part">
                <div class="list">
                    <div id="main_animal" class="list_elt main_color">
                        {{ _self.render_animal(customer.mainAnimal) }}
                    </div>
                    {% for animal in customer.animalsWithoutMain %}
                        <div class="list_elt {{ random(box_colors) }}">
                            {{ _self.render_animal(animal) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="consultations">
                <div class="list">
                    {% for consultation in customer_card.consultations %}
                        {% if loop.first %}<div class="wrapper_2col">{% endif %}
                        <div class="third_size list_elt {{ random(box_colors) }}">
                            {{ _self.render_consultation(consultation) }}
                        </div>
                        {% if loop.index is divisible by (3) %}</div><div class="wrapper_2col">{% endif %}
                        {% if loop.last %}
                            {% if loop.index is divisible by (3) %}<div class="wrapper_2col">{% endif %}
                                <div id="add_consultation" class="third_size list_elt">
                                    <div id="inner_add_consultation">
                                        <span id="plus_sign">+</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejavascripts %}
    <script>
        var chosenOptions = {
            no_results_text: 'Pas de r&eacute:sultats !',
            disable_search_threshold: 10,
            width: '85%'
        };
        var froalaOptions = {
            toolbarButtons: [
                'fullscreen', '|',
                'undo', 'redo' , '|',
                'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|',
                'fontFamily', 'fontSize', 'color', '|',
                'paragraphStyle', 'paragraphFormat', 'align', '|',
                'outdent', 'indent', '|',
                'formatOL', 'formatUL', 'insertTable', 'quote', 'insertHorizontalLine', '|',
                'insertLink', 'uploadFile', 'emoticons', 'specialCharacters'
            ],
            theme: 'grey',
            placeholderText: 'Commentaires...'
        };
    </script>
    <script src="{{ asset('public/js/customer_card/consultation_form_handler.js') }}"></script>
{% endblock %}