{% extends '::layout.html.twig' %}

{% set page = 'Nouvelle Fiche Client' %}

{% block pagetitle %}{{ page }}{% endblock %}

{% block container %}
    <h1 id="page_title">{{ page }}</h1>
    <div id="container">
        {{ form_start(form) }}
            <span class="block_title">Client</span>
            <div id="customer" class="form_block">
                <table id="address">
                    <tr id="address_elts">
                        <td>
                            <label class="no_margin_left">Adresse : </label>
                        </td>
                        <td>
                            {{ form_widget(form.customer.address) }}
                        </td>
                        <td>
                            <label>Code postal : </label>
                        </td>
                        <td>
                            {{ form_widget(form.customer.zipCode) }}
                        </td>
                        <td>
                            <label>Ville : </label>
                        </td>
                        <td>
                            {{ form_widget(form.customer.city) }}
                        </td>
                    </tr>
                    <tr id="status">
                        <td>
                            <label>Statut : </label>
                        </td>
                        <td>
                            {{ form_widget(form.customer.status) }}
                        </td>
                    </tr>
                </table>
                <div id="owners" class="inner_form_block left">
                    <button id="add_owner" class="add_button">Ajouter un propri&eacute;taire</button>
                    {{ form_widget(form.customer.owners) }}
                    {{ form_widget(form.customer.mainOwner) }}
                </div>
                <div id="animals" class="inner_form_block right">
                    <button id="add_cat" class="add_button">Ajouter un chat</button>
                    <button id="add_dog" class="add_button">Ajouter un chien</button>
                    {{ form_widget(form.customer.cats) }}
                    {{ form_widget(form.customer.dogs) }}
                    {{ form_widget(form.customer.mainAnimal) }}
                </div>
            </div>
            <span class="block_title">Consultations</span>
            <div id="consultations" class="form_block">
                <button id="add_consultation" class="add_button">Ajouter une consultation</button>
                <ul class="consultations_list" {#data-prototype="{{ form_widget(form.consultations.vars.prototype)|e('html_attr') }}"#}>
                    <li><table>
                        <tr>
                            <td class="label">
                                <label>Date de la consultation : </label>
                            </td>
                            <td class="value">
                                {{ form_widget(form.consultations.vars.prototype.date) }}
                            </td>
                            <td class="label">
                                <label>Lieu : </label>
                            </td>
                            <td class="value">
                                {{ form_widget(form.consultations.vars.prototype.location) }}
                            </td>
                            <td class="label">
                                <label>Dur&eacute;e : </label>
                            </td>
                            <td class="value">
                                {{ form_widget(form.consultations.vars.prototype.duration) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <label>Prix pratiqu&eacute; &agrave; l&#39;heure : </label>
                            </td>
                            <td id="price_value" class="value">
                                {{ form_widget(form.consultations.vars.prototype.price) }}
                            </td>
                            <td class="label">
                                <label>Animaux pr&eacute;sents lors de la s&eacute;ance : </label>
                            </td>
                            <td class="value">
                                {{ form_widget(form.consultations.vars.prototype.animals) }}
                            </td>
                            <td class="label">
                                <label>Propri&eacute;taires pr&eacute;sents lors de la s&eacute;ance : </label>
                            </td>
                            <td class="value">
                                {{ form_widget(form.consultations.vars.prototype.owners) }}
                            </td>
                        </tr>
                    </table></li>
                </ul>
            </div>
            <span class="block_title">Commentaires</span>
            <div id="comments" class="textarea_block">
                {{ form_widget(form.comments, {'attr': {'class': 'froala'}}) }}
            </div>
            <span id="submit_btn">
                {{ form_widget(form.submit, {
                    'label': 'Valider',
                    'attr': {
                        'class': 'submit_button',
                        'id': 'submit_btn'
                    }
                }) }}
            </span>
            <div style="display: none">{{ form_rest(form) }}</div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block pagejavascripts %}
    <script>
        var ownersData = {
            id: '#customer_card_customer_owners',
            prototype: '__owner__',
            count: '{{ form.customer.owners|length }}'
        };
        var catsData = {
            id: '#customer_card_customer_cats',
            prototype: '__cat__',
            count: '{{ form.customer.cats|length }}'
        };
        var dogsData = {
            id: '#customer_card_customer_dogs',
            prototype: '__dog__',
            count: '{{ form.customer.dogs|length }}'
        };
        var consultationsData = {
            id: '#customer_card_consultations',
            prototype: '__consultation__',
            count: '{{ form.consultations|length }}'
        };
        var chosenOptions = {
            no_results_text: "Pas de r&eacute:sultats !",
            disable_search_threshold: 10
        };
        var froalaOptions = {
            toolbarButtons: [
                'fullscreen', '|',
                'undo', 'redo' , '|',
                'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|',
                'fontFamily', 'fontSize', 'color', '|',
                'paragraphStyle', 'paragraphFormat', 'align', '|',
                'outdent', 'indent', '|',
                'formatOL', 'formatUL', 'insertTable', 'quote', 'insertHorizontalLine', '|',
                'insertLink', 'uploadFile', 'emoticons', 'specialCharacters'
            ],
            theme: 'grey',
            zIndex: 2003,
            placeholderText: 'Commentaires...'
        };
    </script>
    <script src="{{ asset('public/js/customer_card/form_handler.js') }}"></script>
{% endblock %}