{% extends '::layout.html.twig' %}

{% set page = 'Nouveau Client' %}

{% block pagestylesheets %}
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
{% endblock %}

{% block pagetitle %}{{ page|raw }}{% endblock %}

{% block container %}
    <h1 id="page_title">{{ page|raw }}</h1>
    <div id="container">
        {{ form_start(form) }}
        <div id="customer" class="form_block">
            <table id="address">
                <tr id="address_elts">
                    <td>
                        <label class="no_margin_left">Adresse&nbsp;: </label>
                    </td>
                    <td>
                        {{ form_widget(form.address) }}
                    </td>
                    <td>
                        <label>Code postal&nbsp;: </label>
                    </td>
                    <td>
                        {{ form_widget(form.zipCode) }}
                    </td>
                    <td>
                        <label>Ville&nbsp;: </label>
                    </td>
                    <td>
                        {{ form_widget(form.city) }}
                    </td>
                </tr>
                <tr id="status">
                    <td>
                        <label>Statut&nbsp;: </label>
                    </td>
                    <td>
                        {{ form_widget(form.status) }}
                    </td>
                </tr>
            </table>
            <span class="inner_block_title">Propri&eacute;taire principal</span>
            <div id="owners" class="full_inner_form_block">
                <table>
                    <tr>
                        <td class="label">
                            <label>Pr&eacute;nom&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainOwner.firstName) }}
                        </td>
                        <td class="label">
                            <label>Nom&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainOwner.lastName) }}
                        </td>
                        <td class="label">
                            <label>E-mail&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainOwner.email) }}
                        </td>
                        <td class="label">
                            <label>T&eacute;l&eacute;phone&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainOwner.phone) }}
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label>Style de vie&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainOwner.lifeStyle) }}
                        </td>
                        <td class="label">
                            <label>Sexe&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainOwner.gender) }}
                        </td>
                        <td class="label">
                            <label>Travail&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainOwner.job) }}
                        </td>
                        <td class="label">
                            <label>Date de naissance&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainOwner.birthDate) }}
                        </td>
                    </tr>
                    <tr>
                        <td class="label padding_top" colspan="8">
                            <label>Commentaires&nbsp;: </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="value" colspan="8">
                            {{ form_widget(form.mainOwner.comment, {
                                'attr': {
                                    'class': 'froala'
                                }
                            }) }}
                        </td>
                    </tr>
                </table>
            </div>
            <span class="inner_block_title">Animal principal</span>
            <div id="animals" class="full_inner_form_block">
                <table>
                    <tr>
                        <td class="label">
                            <label>Esp&egrave;ce&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.specie) }}
                        </td>
                        <td class="label">
                            <label>Nom&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainAnimal.name) }}
                        </td>
                        <td class="label">
                            <label>Sexe&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainAnimal.gender) }}
                        </td>
                        <td class="label">
                            <label>Date de naissance&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainAnimal.birthDate) }}
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label>Poids&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainAnimal.weight) }}
                        </td>
                        <td class="label">
                            <label>Taille&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainAnimal.size) }}
                        </td>
                        <td class="label">
                            <label>Castr&eacute;&nbsp;?</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainAnimal.castrated) }}
                        </td>
                        <td class="label">
                            <label>Adopt&eacute; d'une association&nbsp;?</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainAnimal.adoptedFromAssociation) }}
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label>Vie dehors&nbsp;?</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainAnimal.livingOutside) }}
                        </td>
                        <td class="label">
                            <label>Temps pass&eacute; dehors&nbsp;:</label>
                        </td>
                        <td class="value">
                            {{ form_widget(form.mainAnimal.outsideTime) }}
                        </td>
                        <td class="label">
                            <label>Temp&eacute;ramment&nbsp;:</label>
                        </td>
                        <td colspan="3" class="value">
                            {{ form_widget(form.mainAnimal.temper) }}
                        </td>
                    </tr>
                    <tr>
                        <td class="label padding_top" colspan="4">
                            <label>Problèmes de sant&eacute;e&nbsp;: </label>
                        </td>
                        <td class="label padding_top" colspan="4">
                            <label>Commentaires&nbsp;: </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="value" colspan="4">
                            {{ form_widget(form.mainAnimal.healthIssues, {
                                'attr': {
                                    'class': 'froala'
                                }
                            }) }}
                        </td>
                        <td class="value" colspan="4">
                            {{ form_widget(form.mainAnimal.comment, {
                                'attr': {
                                    'class': 'froala'
                                }
                            }) }}
                        </td>
                    </tr>
                </table>
                {{ form_widget(form.specie) }}
                {{ form_widget(form.mainAnimal) }}
            </div>
        </div>
        <span id="submit_btn">
            <button type="submit" id="submit_btn" class="submit_button">Valider</button>
        </span>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block pagejavascripts %}
    <script>
        var chosenOptions = {
            no_results_text: "Pas de r&eacute:sultats !",
            disable_search_threshold: 10
        };
        var froalaOptions = {
            toolbarButtons: [
                'fullscreen', '|',
                'undo', 'redo', '|',
                'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|',
                'fontFamily', 'fontSize', 'color', '|',
                'paragraphStyle', 'paragraphFormat', 'align', '|',
                'outdent', 'indent', '|',
                'formatOL', 'formatUL', 'insertTable', 'quote', 'insertHorizontalLine', '|',
                'insertLink', 'uploadFile', 'emoticons', 'specialCharacters'
            ],
            theme: 'grey',
            zIndex: 2003,
            placeholderText: 'Commentaires...'
        };
        var ids = ['form_address', 'form_zipCode', 'form_city'];
        var mapping = [
            {id: 'form_address', address_components: ['street_number', 'route'], separator: ' '},
            {id: 'form_zipCode', address_components: ['postal_code'], separator: ''},
            {id: 'form_city', address_components: ['locality', 'administrative_area_level_2'], separator: ' - '}
        ];
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP25G6kEni4T3lhBgbfvx2UOOkIh8SB1o&libraries=places&project=symbiose-animale-fiche-client" async defer></script>
    <script src="{{ asset('public/js/customer/form_handler.js') }}"></script>
    <script src="{{ asset('public/js/google_api.js') }}"></script>
{% endblock %}